h1 {
	font-size: 2rem!important;
}

h2 {
	font-size: 1.7rem!important;
}

h3 {
	font-size: 1.4rem!important;
}

ul {
	padding-left: 0!important;
}

.researchpage li a{
	color: #222!important;
	font-weight: bold;
	font-size: 1.1rem;
}

.researchpage li{
	margin: 0!important;
	padding: 0!important;
	padding-top: .2em!important;
	padding-bottom: .7em!important;
}
.researchpage p{
	margin-bottom: 0px!important;
	margin-top: 0!important;
	padding: 0!important;
	min-height: 0!important;
}

.researchpage p.archive {
	padding-top: .1em!important;
	text-align: left;
}

.resume h2 {
	padding-bottom: 0!important;
	margin-bottom: 0!important;
}

.cv {
	width: 100%; 
	padding: 0!important;
	margin: 0!important;
}

.cv p.spaceout {
	padding: 0!important;
	margin: 0!important;
	justify-content: space-between;
	display: flex;
}

.cv .spaceout span{
	color: #777!important;	
	padding: 0!important;
	margin: 0!important;
}

.cv p.location {
	color: #777!important;	
	padding: 0!important;
	margin: 0!important;
	padding-bottom: .5em!important;
	width: 100%;
	text-align: left;
}

#footer a:hover {
	text-decoration: none;
	color: #777!important;
}

#footer a:hover i{
	text-decoration: none;
	color: #777!important;
}

img {
	max-width: 100%;
}

