{{ define "main" }}
<div class="container">
    <p>{{.Content}}</p>

    {{ range .Pages }}
    	<hr>
    <h2><a href="{{.Permalink}}">{{ .Title }}</a></h2>
    <div class="researchpage">
        {{.Summary | markdownify}}
        <ul>
        {{range first 5 .Pages.ByDate.Reverse}}
            <li>{{if .Params.private}}
                <a href={{.Params.link}}>{{.Title}}</a> 
                {{else}}
                <a href="{{.Permalink}}">{{ .Title }}</a>
                {{end}}

                {{if .Params.date }}
                ({{.Params.date.Format "2006"}})
                {{end}}
                {{if .Params.authors}}
                <p><small>{{.Params.authors | title}}</small></p>
                {{end}}
                <p>{{.Summary}}</p>
            </li>
        {{end}}
        </ul>
        <p>[...]</p>
        <br>
        <p class="archive"><a href="{{.Permalink}}">> {{ .Title }} archive</a></p>
    </div>
    {{ end }}

</div>
{{ end }}